.product_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 30px;
}

.product_list_item{
    list-style: none;
    margin-bottom: 15px;
    display: flex; 
}

.product_wrap{
    border: 1px solid #ddd;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.product_wrap:hover{
    background-color:#f7f7f7;
}

.product_img{
    margin: 0 auto 16px;
    display: block;
}

.product_title , .product_detail_title{
    font-size: 16px;
    font-weight: bold;
    color: #282c3f;
    line-height: 1.2;
    margin-bottom: 8px;
    height: 38px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.product_desc{
    color: #535766;
    font-size: 14px;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-bottom: 8px;
}

.product_price{
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    color: #282c3f;
}

.product_detail_title{
    font-size: 36px;
    margin-bottom: 32px;
    -webkit-line-clamp: 0;
    overflow: visible;
    height: auto;
}

.product_detail_rating{
    font-weight: bold;
    font-size: 18px;
}   

.product_detail_desc{
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
}

.product_detail_price{
    font-size: 20px;
    font-weight: bold;
}

.product_detail_price span{
    font-size: 16px;
    display: block;
    color: green;
}

.add_to_cart{
    border : 1px solid #000;
    font-size: 20px;
    background: #eee;
    padding: 16px 24px;
    margin: 16px 0;
    transition: all 0.3s ease;
}

.add_to_cart:hover{
    border : 1px solid #ccc;
    background: #000;
    color: #fff;
}

